<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../componenteb-element/componenteb-element.html">
<link rel="import" href="../componentec-element/componentec-element.html">


<dom-module id="componentea-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-if" if="{{mostrar1}}">
        <!-- <div id="elem1"> -->
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <paper-button raised on-click="_pressBtn1">Boton 1</paper-button>
          <paper-button raised on-click="_pressBtn2">Boton 2</paper-button>
        <!-- </div> -->
    </template>
    
      <template is="dom-if" if="{{mostrarAmbos}}">
        <div>
            <template is="dom-if" if="{{mostrar3}}">
                <componenteb-element></componenteb-element>
            </template>
      
            <template is="dom-if" if="{{mostrar2}}">
                <componentec-element></componentec-element>
            </template>
        </div>
      </template>    

  </template>

  <script>
    /**
     * `componentea-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteaElement extends Polymer.Element {
      static get is() { return 'componentea-element'; }
      static get properties() {
        return {
          title: {
            type:String,
          },
          description: {
            type:String,
          },
          mostrar1: {
            type: Boolean,
            value: true
          },
          mostrar2: {
            type: Boolean,
            value: true
          },
          mostrar3: {
            type: Boolean,
            value: true
          },
          mostrarAmbos: {
            type: Boolean,
            value: false
          }
        };
      }
      _pressBtn1(){
        this.mostrar1=false;
        this.mostrar2=false
        this.mostrarAmbos=true;
      }
      _pressBtn2(){
        this.mostrar1=false;
        this.mostrar3=false
        this.mostrarAmbos=true;
      }
    }

    window.customElements.define(ComponenteaElement.is, ComponenteaElement);
  </script>
</dom-module>
